.item img {
  
  height: 75%;
  width: 75%;
  object-fit: contain;
 

}
.page {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;

  }
  .container {
    display: grid;
    grid-template-rows: repeat(3, minmax(25px, 175px));
    grid-template-columns: repeat(3, minmax(25px, 175px));
    justify-content: center;
    align-content: center;
    margin-top: 0.5rem;
    gap: 20px;
  }
  
.box {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
}

  .item {
    border: 1px solid black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #reset {
    margin: 10px;
  }

  #whose-turn {
    margin-top: 2px;
    display: flex;
    justify-content: center;
  }